mode: "debug" #gin/gorm run mode,attention:gorm log depends on this and zerolog level
ifp: # dcs的ifp接口
  url: "http://172.31.254.3:30086"
mysql:
  user: "root"
  password: "123456"
  ip: "127.0.0.1"
  port: "3306"
  name: "template"
  charset: "utf8mb4"
  max_open_conns: 50
  max_idle_conns: 10
  conn_max_lifetime: 500
log:
  file_path: "/var/log/dcs/template.log"
  level: "info"# zerolog level,default debug